<?xml version="1.0" encoding="UTF-8"?>

<dict num="219" id="219" name="219">

<key>spring</key>

<ps>sprɪŋ</ps>

<pron>http://res.iciba.com/resource/amp3/oxford/0/2a/dd/2add54da67f5a898ebae47ff13876d44.mp3</pron>

<ps>sprɪŋ</ps>

<pron>http://res.iciba.com/resource/amp3/1/0/2a/2d/2a2d595e6ed9a0b24f027f2b63b134d6.mp3</pron>

<pos>n.</pos>

<acceptation>春季；泉水，小溪；弹簧，弹性；跳跃；

</acceptation>

<pos>vi.</pos>

<acceptation>跳，跃；突然发出或出现；发源；劈开，裂开；

</acceptation>

<pos>vt.</pos>

<acceptation>突然跳出；跳过；使开裂；

</acceptation>

<pos>adj.</pos>

<acceptation>春天的；弹簧的，有弹性的；

</acceptation>

<sent><orig>

Our people are true experts in Spring, J2EE and Java.

</orig>

<trans>

我们的员工都是Spring,J2EE和Java的专家。

</trans></sent>

<sent><orig>

AppFuse now uses Spring's OpenSessionInViewFilter.

</orig>

<trans>

Spring已经优雅的处理了他们。

</trans></sent>

<sent><orig>

This balmy weather is a [the] herald of spring [.

</orig>

<trans>

（（文语））is ~ to spring] 这种温和的天气是春天的预兆。

</trans></sent>

<sent><orig>

According to such layered structure three open source frameworks,Tapestry,Spring and Hibernate,are briefly introduced in this paper.

</orig>

<trans>

按照这种分层结构，分别介绍了Tapestry,Spring和Hibernate三种开源框架。

</trans></sent>

<sent><orig>

If you wouldn't benefit from Spring, we'll tell you.

</orig>

<trans>

如果您无法从Spring获益，我们会告诉你。

</trans></sent>

</dict>
